  tr td {
    border: 1px solid green;
    text-align: center;
  
}
div {
    width: 100%;
}
table {
    margin: auto;
    margin-top: 150px;
    width: 70%;
   
}

nav a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-align: center
    position: relative;
}
nav a:hover{
    color: green;
}
body {
    display: block;
}
form {
    color: green;
    margin:auto;
    width: 70%;
}